<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Product Search</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="css/autoComplete.css">
</head>
<body>
    <div id="site-container">
        <div id="search-container">

            

            <form id="searchForm">
                <!-- <label for="autoComplete" id="search-label">Product name</label> -->
                <input id="autoComplete" autocomplete="off">
            </form>
        </div>
        <div id="searchResult">

        </div>
    </div>
    <script src="js/autoComplete.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.js"></script>
</body>
</html>